<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_GROUP_ID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>APP_STORE_REVIEW_URL</key>
	<string>$(APP_STORE_REVIEW_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Gnosis Safe</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.gnosis.multisig</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gnosissafe</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CLIENT_GATEWAY_URL</key>
	<string>$(CLIENT_GATEWAY_URL)</string>
	<key>CONFLICT_URL</key>
	<string>$(CONFLICT_URL)</string>
	<key>CONNECT_DAPP_ON_MOBILE_URL</key>
	<string>$(CONNECT_DAPP_ON_MOBILE_URL)</string>
	<key>CONTACT_EMAIL</key>
	<string>$(CONTACT_EMAIL)</string>
	<key>DISCORD_URL</key>
	<string>$(DISCORD_URL)</string>
	<key>FALLBACKHANDLER_URL</key>
	<string>$(FALLBACKHANDLER_URL)</string>
	<key>DELEGATE_KEY_URL</key>
	<string>$(DELEGATE_KEY_URL)</string>
	<key>FEATURE_SUGGESTION_URL</key>
	<string>$(FEATURE_SUGGESTION_URL)</string>
	<key>DESKTOP_PAIRING_URL</key>
	<string>$(DESKTOP_PAIRING_URL)</string>
	<key>LEDGER_PAIRING_URL</key>
	<string>$(LEDGER_PAIRING_URL)</string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>GNOSIS_SAFE_WEB_URL</key>
	<string>$(GNOSIS_SAFE_WEB_URL)</string>
	<key>GUARD_URL</key>
	<string>$(GUARD_URL)</string>
	<key>HELP_CENTER_URL</key>
	<string>$(HELP_CENTER_URL)</string>
	<key>INFURA_API_KEY</key>
	<string>$(INFURA_API_KEY)</string>
	<key>INTERCOM_APP_ID</key>
	<string>$(INTERCOM_APP_ID)</string>
	<key>INTERCOM_API_KEY</key>
	<string>$(INTERCOM_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LICENSES_URL</key>
	<string>$(LICENSES_URL)</string>
	<key>LOGGERS</key>
	<string>$(LOGGERS)</string>
	<key>LOG_LEVEL</key>
	<string>$(LOG_LEVEL)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>trust</string>
		<string>rainbow</string>
		<string>argent</string>
		<string>pillarwallet</string>
		<string>imtoken2</string>
		<string>ledgerlive</string>
		<string>huobiwallet</string>
		<string>tongue</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow Gnosis Safe to connect hardware devices and sign transactions.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Enable Bluetooth to connect your hardware wallet</string>
	<key>NSCameraUsageDescription</key>
	<string>Safe need to use camera to scan QR code.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This will allow Gnosis Safe to access your Face ID to open app and sign transactions.</string>
	<key>PAY_FOR_CANCELLATION_URL</key>
	<string>$(PAY_FOR_CANCELLATION_URL)</string>
	<key>PRIVACY_URL</key>
	<string>$(PRIVACY_URL)</string>
	<key>SERVICE_ENV</key>
	<string>$(SERVICE_ENV)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>TSKConfiguration</key>
	<dict>
		<key>TSKPinnedDomains</key>
		<dict>
			<key>gnosis.io</key>
			<dict>
				<key>TSKDisableDefaultReportUri</key>
				<true/>
				<key>TSKEnforcePinning</key>
				<string>$(SSL_ENFORCE_PINNING)</string>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>JSMzqOOrtyOT1kmau6zKhgT676hGgczD5VMdRMyJZFA=</string>
					<string>++MBgDH5WGvL9Bcn5Be30cRcL0f5O+NyoXuWtQdX1aI=</string>
				</array>
			</dict>
			<key>gnosisdev.com</key>
			<dict>
				<key>TSKDisableDefaultReportUri</key>
				<true/>
				<key>TSKEnforcePinning</key>
				<string>$(SSL_ENFORCE_PINNING)</string>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>JSMzqOOrtyOT1kmau6zKhgT676hGgczD5VMdRMyJZFA=</string>
					<string>++MBgDH5WGvL9Bcn5Be30cRcL0f5O+NyoXuWtQdX1aI=</string>
				</array>
			</dict>
		</dict>
		<key>TSKSwizzleNetworkDelegates</key>
		<false/>
	</dict>
	<key>TWITTER_URL</key>
	<string>$(TWITTER_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Averta-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WALLETCONNECT_BRIDGE_URL</key>
	<string>$(WALLETCONNECT_BRIDGE_URL)</string>
	<key>DESKTOP_PAIRING_EXPERIMENTAL_ENABLED</key>
	<string>$(DESKTOP_PAIRING_EXPERIMENTAL_ENABLED)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>IntercomAutoIntegratePushNotifications</key>
	<string>NO</string>
</dict>
</plist>
