//
//  NotificationServiceConfig.xcconfig
//  Multisig
//
//  Created by Dmitry Bespalov on 05.08.20.
//  Copyright © 2020 Gnosis Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// DEV | STAGING | PROD
SERVICE_ENV = STAGING

// Bundle Identifier
_APP_BUNDLE_ID_PROD     = io.gnosis.multisig.prod.mainnet.NotificationServiceExtension
_APP_BUNDLE_ID_STAGING  = io.gnosis.multisig.staging.mainnet.NotificationServiceExtension
_APP_BUNDLE_ID_DEV      = io.gnosis.multisig.dev.mainnet.NotificationServiceExtension

// Xcode Build Settings
PRODUCT_BUNDLE_IDENTIFIER           = $(_APP_BUNDLE_ID_$(SERVICE_ENV):default=$(_APP_BUNDLE_ID_PROD))
