//
//  Config.xcconfig
//  Multisig
//
//  Created by Dmitry Bespalov on 27.05.20.
//  Copyright © 2020 Gnosis Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// NOTE: the '//' is always treated as a comment by Xcode, so we
// insert an empty reference between slashes: /$()/

// These are 2 variables that we care for. They are used as a substitutions
// for the variable names of respective services, so that we can use them
// to specify all of the configurations.

// DEV | STAGING | PROD
SERVICE_ENV = STAGING

// RINKEBY | MAINNET
NETWORK = RINKEBY


// Keys

// Infura - Ethereum Node RPC Service
INFURA_API_KEY = USE_YOUR_OWN_INFURA_KEY_HERE


// Configuration Values

// Gnosis Safe Transaction Service
_TRANSACTION_SERVICE_URL_DEV_RINKEBY        = https:/$()/safe-transaction.dev.gnosisdev.com/api/
_TRANSACTION_SERVICE_URL_DEV_MAINNET        = https:/$()/safe-transaction.mainnet.staging.gnosisdev.com/api/
_TRANSACTION_SERVICE_URL_STAGING_RINKEBY    = https:/$()/safe-transaction.dev.gnosisdev.com/api/
_TRANSACTION_SERVICE_URL_STAGING_MAINNET    = https:/$()/safe-transaction.mainnet.staging.gnosisdev.com/api/
_TRANSACTION_SERVICE_URL_PROD_RINKEBY       = https:/$()/safe-transaction.rinkeby.gnosis.io/api/
_TRANSACTION_SERVICE_URL_PROD_MAINNET       = https:/$()/safe-transaction.gnosis.io/api/

_CLIENT_GATEWAY_URL_DEV_RINKEBY        = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/
_CLIENT_GATEWAY_URL_DEV_MAINNET        = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/
_CLIENT_GATEWAY_URL_STAGING_RINKEBY    = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/
_CLIENT_GATEWAY_URL_STAGING_MAINNET    = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/
_CLIENT_GATEWAY_URL_PROD_RINKEBY       = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/
_CLIENT_GATEWAY_URL_PROD_MAINNET       = https:/$()/safe-client-rinkeby.staging.gnosisdev.com/

// Ethereum Node JSONRPC over HTTP Service
_ETH_RPC_URL_RINKEBY = https:/$()/rinkeby.infura.io/v3/$(INFURA_API_KEY)
_ETH_RPC_URL_MAINNET = https:/$()/mainnet.infura.io/v3/$(INFURA_API_KEY)

// Etherscan -  Ethereum Block Browser
_ETH_BLOCK_BROWSER_URL_RINKEBY = https:/$()/rinkeby.etherscan.io/
_ETH_BLOCK_BROWSER_URL_MAINNET = https:/$()/etherscan.io/

// OpenSea - Collectible Service URL
_COLLECTIBLE_SERVICE_URL_RINKEBY = https:/$()/rinkeby-api.opensea.io/api/
_COLLECTIBLE_SERVICE_URL_MAINNET = https:/$()/api.opensea.io/api/

// Gnosis Safe Web App
_GNOSIS_SAFE_WEB_URL_RINKEBY = https:/$()/rinkeby.gnosis-safe.io/
_GNOSIS_SAFE_WEB_URL_MAINNET = https:/$()/gnosis-safe.io/

// Apps
_APP_BUNDLE_ID_PROD_MAINNET     = io.gnosis.multisig.prod.mainnet
_APP_BUNDLE_ID_PROD_RINKEBY     = io.gnosis.multisig.prerelease
_APP_BUNDLE_ID_STAGING_MAINNET  = io.gnosis.multisig.staging.mainnet
_APP_BUNDLE_ID_STAGING_RINKEBY  = io.gnosis.multisig.staging.rinkeby
_APP_BUNDLE_ID_DEV_MAINNET      = io.gnosis.multisig.dev.mainnet
_APP_BUNDLE_ID_DEV_RINKEBY      = io.gnosis.multisig.dev.rinkeby

// User-facing name of the app on the Home screen
_DISPLAY_NAME_PROD_MAINNET     = Safe Multisig
_DISPLAY_NAME_PROD_RINKEBY     = Prod Rinkeby
_DISPLAY_NAME_STAGING_MAINNET  = Staging Mainnet
_DISPLAY_NAME_STAGING_RINKEBY  = Staging Rinkeby
_DISPLAY_NAME_DEV_RINKEBY      = Dev Rinkeby
_DISPLAY_NAME_DEV_MAINNET      = Dev Mainnet

// Firebase Config File Names
_FIREBASE_CONFIG_PROD_MAINNET       = GoogleService-Info.Production.Mainnet
_FIREBASE_CONFIG_PROD_RINKEBY       = GoogleService-Info.Production.Rinkeby
_FIREBASE_CONFIG_STAGING_MAINNET    = GoogleService-Info.Staging.Mainnet
_FIREBASE_CONFIG_STAGING_RINKEBY    = GoogleService-Info.Staging.Rinkeby
_FIREBASE_CONFIG_DEV_MAINNET        = GoogleService-Info.Development.Mainnet
_FIREBASE_CONFIG_DEV_RINKEBY        = GoogleService-Info.Development.Rinkeby

// Loggers (comma-separated). Available options: [crashlytics, console]
_LOGGERS_PROD               = crashlytics
_LOGGERS_DEV                = console

// Log level. Available options: [DEBUG, INFO, ERROR, FATAL, OFF]
// Check LogLevel.swift for more details
_LOG_LEVEL_PROD             = ERROR
_LOG_LEVEL_DEV              = DEBUG

// Configuration variables for the app

TRANSACTION_SERVICE_URL = $(_TRANSACTION_SERVICE_URL_$(SERVICE_ENV)_$(NETWORK):default=$(_TRANSACTION_SERVICE_URL_PROD_MAINNET))
CLIENT_GATEWAY_URL = $(_CLIENT_GATEWAY_URL_$(SERVICE_ENV)_$(NETWORK):default=$(_CLIENT_GATEWAY_URL_PROD_MAINNET))
ETH_RPC_URL             = $(_ETH_RPC_URL_$(NETWORK):default=$(_ETH_RPC_URL_MAINNET))
ETH_BLOCK_BROWSER_URL   = $(_ETH_BLOCK_BROWSER_URL_$(NETWORK):default=$(_ETH_BLOCK_BROWSER_URL_MAINNET))
COLLECTIBLE_SERVICE_URL = $(_COLLECTIBLE_SERVICE_URL_$(NETWORK):default=$(_COLLECTIBLE_SERVICE_URL_MAINNET))
GNOSIS_SAFE_WEB_URL     = $(_GNOSIS_SAFE_WEB_URL_$(NETWORK):default=$(_GNOSIS_SAFE_WEB_URL_MAINNET))
FIREBASE_CONFIG         = $(_FIREBASE_CONFIG_$(SERVICE_ENV)_$(NETWORK):default=$(_FIREBASE_CONFIG_PROD_MAINNET))
LOGGERS                 = $(_LOGGERS_$(SERVICE_ENV):default=$(_LOGGERS_PROD))
LOG_LEVEL               = $(_LOG_LEVEL_$(SERVICE_ENV):default=$(_LOG_LEVEL_PROD))

// Legal URLs
TERMS_URL       = https:/$()/gnosis-safe.io/terms/
PRIVACY_URL     = https:/$()/gnosis-safe.io/privacy/
LICENSES_URL    = https:/$()/gnosis-safe.io/licenses/

// Contact Information
DISCORD_URL             = https:/$()/discord.gg/FPMRAwK
TWITTER_URL             = https:/$()/twitter.com/gnosisSafe
HELP_CENTER_URL         = https:/$()/help.gnosis-safe.io/
FEATURE_SUGGESTION_URL  = https:/$()/safe.cnflx.io/
CONTACT_EMAIL           = safe@gnosis.io

// App name on the home screen (will be used for CFBundleDisplayName)
DISPLAY_NAME = $(_DISPLAY_NAME_$(SERVICE_ENV)_$(NETWORK):default=$(_DISPLAY_NAME_PROD_MAINNET))

// Xcode Build Settings
PRODUCT_BUNDLE_IDENTIFIER           = $(_APP_BUNDLE_ID_$(SERVICE_ENV)_$(NETWORK):default=$(_APP_BUNDLE_ID_PROD_MAINNET))

// Different product names are fixing an iOS bug that disables Touch ID
// or Face ID when multiple apps with the same executable name are installed.
PRODUCT_NAME                        = Multisig_$(SERVICE_ENV)_$(NETWORK)

ASSETCATALOG_COMPILER_APPICON_NAME  = AppIcon_$(SERVICE_ENV)_$(NETWORK)

// This fixes SwiftUI previews not working due to code coverage enabled
// see https://stackoverflow.com/questions/58127940/undefined-symbols-llvm-profile-runtime
OTHER_LDFLAGS = $(inherited) -fprofile-instr-generate
